* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg: #fff;
    --main: darkred;
    --text: #000;
}
.mobile-nav-button {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 4000;
    top: 10vh;
    top: 0;
    right: 0;
    background-color: var(--bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 1rem 2rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.navbar .logo a img {
    width: 80px;
    margin-left: 10px;
}
.navbar .menu-list {
    margin-right: 50%;
    transform: translate(50%, 0);
    display: flex;
}
.navbar .menu-list li {
    margin-left: 2rem;
}
.navbar .menu-list li a {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text);
    transition: all 0.2s ease-in-out;
}
.navbar .menu-list li a:hover {
    color: var(--main);
}
.navbar .menu-list li .active {
    color: var(--main);
}
.navbar .menu-list li .active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main);
}

a {
    text-decoration: none;
    color: var(--text);
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }        
}
@media screen and (max-width: 914px) {
    .navbar {
        display: none;
    }
    .mobile-nav-button {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 5000;
    }

    .navbar {
        display: none; /* Hide the original navbar on small screens */
        animation: slideIn 0.5s ease-in-out reverse;
    }

    .mobile-nav {
        width: 100%;
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .mobile-nav a {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .mobile-nav img {
        margin-bottom: 1rem;
    }
    
}
body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    height: 100vh;
    font-weight: 400;
    overflow-x: hidden;
    --webkit-font-smoothing: subpixel-antialiased;
}
body::-webkit-scrollbar {
    display: none;
}
.heading h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    transform: translate(0,10%);
}
.heading {
    top: 10vh;
    width: 25vw;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--main);
    position: relative;
}
.sectionRow1,
.sectionRow2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20vh;
    height: fit-content;
    padding: 10px;
}
.sectionRow2 {
    margin-top: 5vh;
}
section {
    padding: 40px;
    height: 100%;
    position: relative;
    width: 30%;
    text-align: center;
    border: 2px solid var(--main);
    transition: all 0.2s ease-in-out;
}
svg {
    height: 100px;
    transition: all 0.2s ease-in-out;
}
section:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
section:hover svg {
    fill: var(--main);
}
section:hover h2 {
    color: var(--main);
}
h2{
    margin-top: 4%;
    margin-bottom: 4%;
}
@media screen and (max-width: 914px) {

    .sectionRow1,
    .sectionRow2 {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
    .sectionRow2 {
        margin-top: 0vh;
    }
    section {
        width: 90%;
        margin-bottom: 35px;
    }
    /* section:not(.odd) {
        margin-left: 0%;
    }
    .odd {
        margin-left: 0%;
    } */
    .heading {
        width:50vw;
    }   
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }        
}


.certificate {
    position: relative;
    top: 15vh;
    clear: both;
    margin-top: 50px;
    border: 2px solid var(--main);
    height: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: auto;
    width: 95%;
}

.certificate:hover .img img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.certificate .content {
    width: 50%;
    padding: 20px;
    text-align: center;
}
.certificate .content h1 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: 600;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}
.certificate:hover .content h1 {
    color: var(--main);
}
.certificate .content p {
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-weight: 600;
    margin-bottom: 10px;
}
.certificate .img {
    width: 50%;
    text-align: center;
    padding: 20px;
}
.certificate .img img {
    border: 2px solid var(--main);
    width: 60%;
    object-fit: cover;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
.certificate .content svg {
    width: 10%;
    transition: all 0.3s ease-in-out;
}
.certificate:hover .content svg {
    fill: var(--main);
}

@media screen and (max-width: 914px) {
    .certificate {
        flex-direction: column;
        top: 0vh;
        width: 90%;
        margin: auto;
}
    .certificate .img {
        width: 100%;
        height: 50%;
    }
    .certificate .content {
        width: 100%;

    }
    .certificate .content svg {
        width: 25%;
        margin-bottom: 20px;
    }
}
.aboutbop {
    position: relative;
    top: 15vh;
    width: 95%;
    margin: auto;
    margin-top: 50px;
    padding: 80px 120px;
    border: 2px solid var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.aboutbop h1 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: 600;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;

}
.aboutbop ol {
    margin-top: 20px;
    list-style-position: inside;
    list-style-type: disc;
    text-align: justify;
}
.aboutbop ol li {
    margin: 10px;
}
.aboutbop:hover h1 {
    color: var(--main);
}
@media screen and (max-width: 914px) {
    .aboutbop {
        padding: 40px 60px;
        top: 0vh;
        width: 90%;
    }
}

*::selection {
    background-color: var(--main);
    color: var(--bg);
}