
.container {
    width: 30%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p {
    display: inline-block;
    font-size: 100px;
}
p:nth-child(1):hover {
    color: yellow;
}
p:nth-child(2):hover {
    color: red;
}
p:nth-child(3):hover {
    color: orange;
}
